@import "tailwindcss";
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:14px;
  font-style: normal;
}
.btn-toggle-style-block{
  background-color: rgba(8, 116, 242, 0.05);
  border: 1px solid rgba(8, 116, 242, 1); 
}
.btn-toggle-style-none{
  background-color: white;
  border: rgba(8,8,8,0.2);
}